@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  --color-primary: #004D5A;
  --color-secondary: #333;
  --color-secondary-lite: #999;
  font-family: Arial, serif;
  line-height: initial;
}

.color-primary {
  color: var(--color-primary);
}

.bg-primary {
  background: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-secondary-lite {
  color: var(--color-secondary-lite);
}

/*Cart Header*/
.cart-header-store-name {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.cart-header-breadcrumbs {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 2px;
}

.cart-header-divider-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.cart-header-divider-line {
  height: 2px;
  display: inline-block;
  background: var(--color-primary);
}
/*Cart Header*/
