body {
    margin: 0;
}

#app {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #EEEEEE;
}

@media (max-width: 450px) {
    #app {
        background: #ffff;
        display: block;
    }
}